mixin footer()
    footer(class="footer")
            div(class="box")
                div(class="copyright")
                    p(class="copyright__text") © Footer content <a href="#5" class="copyright__link">Link footer</a>
    // END .footer
