.work {
    padding-top: 11px;

    @media (--XS) {
        padding-left: 0;
        padding-right: 0;
    }

    .work__link {
        color: #0075d0;
        text-decoration: underline;
        transition: color 0.25s ease;

        &:hover {
            color: #0098d0;
        }

        &:active {
            color: #64bbff;
        }
    }

    &__text {
        margin-bottom: 3px;
    }

    &__notice {
        padding-left: 23px;

        @media (--S) {
            padding-left: 0;
        }
    }
}
