.work {
    padding-top: 11px;

    @media (--S) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (--XS) {
        padding-left: 0;
        padding-right: 0;
    }

    .work__link {
        color: #0075d0;
        text-decoration: underline;
    }

    &__text {
        margin-bottom: 3px;
    }

    &__notice {
        padding-left: 23px;
    }
}
