mixin work()
    div(class="work")
        h1(class="title work__title") <span class="title__color">W</span>hat we do
        p(class="text work__text") Lorem ipsum dolor sit amet, <a href="#5" class="work__link">consectetur adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <span class="text--italic">commodo consequat</span>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.                      
        p(class="text text--italic text--color work__notice") — Duis aute irure dolor in reprehenderit in voluptate velit esse
    //END .work
