block data

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        title Black and white
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500&brvbar;Roboto:400,500&amp;subset=cyrillic" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="stylesheets/slick.css")
        link(rel="stylesheet" href="stylesheets/common.css")

    body(class="page")
        include ../../_blocks/header/header.pug
        +header()

        main(class="main")
            include ../../_blocks/hero/hero.pug
            +hero()
        
            include ../../_blocks/nav/nav.pug
            +nav()

            div(class="box main__content")
                include ../../_blocks/work/work.pug
                +work()
                
                include ../../_blocks/portfolio/portfolio.pug
                +portfolio()

                include ../../_blocks/description/description.pug
                +description()

                include ../../_blocks/table/table.pug
                +table()

                include ../../_blocks/form/form.pug
                +form()

        include ../../_blocks/footer/footer.pug
        +footer()

        script(src="//code.jquery.com/jquery-1.11.0.min.js")
        script(src="scripts/slick.min.js")
        script(src="scripts/common.js")
