.table {
    padding-top: 37px;
    padding-left: 3px;

    @media (--M) {
        padding-top: 20px;
        overflow-x: auto;
        margin-right: -12px;
    }

    &__title {
        margin-bottom: 12px;
    }

    &__content {
        border-collapse: collapse;

        @media (--M) {
            width: 960px;
            display: flex;

            &:after {
                content: "";
                width: 15px;
                background: #ffffff;
            }
        }
    }

    &__header {
        background-color: #efefef;
    }

    &__cell {
        text-align: left;
        border: 1px solid #d5d5d5;
        width: 325px;
        padding-top: 5px;
        padding-bottom: 4px;
        padding-left: 9px;
        padding-right: 12px;
        box-sizing: border-box;

        &:first-child {
            width: 141px;
        }

        &:nth-child(2) {
            width: 272px;
        }

        &:last-child {
            width: 225px;
            padding-left: 15px;
        }
    }

    td.table__cell {
        &:nth-child(2) {
            padding-left: 14px;
        }
    }
}
