.portfolio {
    padding-top: 23px;

    @media (--XS) {
        padding-left: 0;
        padding-right: 0;
    }

    &__title {
        margin-bottom: 9px;
    }

    &__list {
        list-style: none;
        display: flex;
        margin: -10px;

        @media (--M) {
            flex-wrap: wrap;
        }

        @media (--XS) {
            justify-content: center;
        }
    }

    &__item {
        width: 224px;
        height: 166px;
        border: 11px solid #e2e2e2;
        box-sizing: border-box;
        margin: 10px;

        @media (--M) {
            width: 210px;
            height: 156px;
        }

        @media (--XS) {
            width: 200px;
            height: 149px;
        }
    }

    &__img {
        width: 100%;
    }
}
