mixin portfolio()
    section(class="portfolio")
        h2(class="title title--size-s portfolio__title") <span class="title__color">I</span>mages
        ul(class="portfolio__list")
            li(class="portfolio__item")
                img(class="portfolio__img" src="images/portfolio/img-1.jpg" srcset="images/portfolio/img-1@2x.jpg")
            li(class="portfolio__item")
                img(class="portfolio__img" src="images/portfolio/img-2.jpg" srcset="images/portfolio/img-2@2x.jpg")
            li(class="portfolio__item")
                img(class="portfolio__img" src="images/portfolio/img-3.jpg" srcset="images/portfolio/img-3@2x.jpg")
            li(class="portfolio__item")
                img(class="portfolio__img" src="images/portfolio/img-4.jpg" srcset="images/portfolio/img-4@2x.jpg")
    // END .portfolio
