mixin nav()
    div(class="nav")
        nav(class="box nav__content")
            ul(class="nav__list")
                -
                    var navList = [
                        {
                            text: "Home",
                        },

                        {
                            text: "About",
                        },

                        {
                            text: "Work",
                        },

                        {
                            text: "Blog",
                        },

                        {
                            text: "Contacts",
                        },
                    ]

                each item in navList
                    li(class="nav__item")
                        a( href="#5" class="nav__link") !{item.text}
    //END .nav
