@import "../hero/hero.css";
@import "../nav/nav.css";
@import "../work/work.css";
@import "../title/title.css";
@import "../text/text.css";
@import "../portfolio/portfolio.css";
@import "../description/description.css";
@import "../table/table.css";
@import "../form/form.css";

.main {
    &__content {
        width: 1000px;
        background: var(--white);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        padding-bottom: 25px;

        @media (--L) {
            width: 934px;
        }

        @media (--M) {
            width: 694px;
        }

        @media (--S) {
            width: 514px;
        }

        @media (--XS) {
            max-width: 450px;
            min-width: 290px;
        }
    }
}
