mixin hero()
    div(class="hero")
        div(class="box hero__box")
            div(class="hero__list")
                div(class="hero__item")
                    img(class="hero__img" src="images/hero/hero.jpg")
                    div(class="hero__description")
                        p(class="hero__text") Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div(class="hero__item")
                    img(class="hero__img" src="images/hero/hero.jpg")
                    div(class="hero__description")
                        p(class="hero__text") Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div(class="hero__item")
                    img(class="hero__img" src="images/hero/hero.jpg")
                    div(class="hero__description")
                        p(class="hero__text") Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    //END .hero
