mixin description()
    div(class="description")
        h3(class="title title--size-s description__title") <span class="title__color">L</span>ists and Descriptions
        div(class="description__content")
            ul(Class="description__list")
                li(class="description__item")
                    p(class="text description__text") Sed ut perspiciatis unde omnis iste natus
                li(class="description__item")
                    p(class="text description__text") Lorem ipsum dolor sit amet, consectetur
                li(class="description__item")
                    p(class="text description__text") At vero eos et accusamus et iusto odio
                li(class="description__item")
                    p(class="text description__text") Et harum quidem rerum facilis est
            ol(Class="description__list")
                li(class="description__item")
                    p(class="text description__text") Sed ut perspiciatis unde omnis iste natus
                li(class="description__item")
                    p(class="text description__text") Lorem ipsum dolor sit amet, consectetur
                li(class="description__item")
                    p(class="text description__text") At vero eos et accusamus et iusto odio
                li(class="description__item")
                    p(class="text description__text") Et harum quidem rerum facilis est 
            ul(Class="description__list")
                li(class="description__item")
                    p(class="text text--bold description__text") Sed ut perspiciatis unde omnis iste natus
                li(class="description__item")
                    p(class="text description__text") Lorem ipsum dolor sit amet, consectetur
                li(class="description__item")
                    p(class="text text--bold description__text") At vero eos et accusamus et iusto odio
                li(class="description__item")
                    p(class="text description__text") Et harum quidem rerum facilis est
    // END .description
